@media (min-width: 576px){
    #fotodeperfil{
        /*position: absolute;*/
         width: 85%; 
         border-radius: 100%;
         box-shadow: 5px 5px 5px rgb(94, 93, 93);
         /*left: 3%;
         top: -60px;*/
    }
    .descripcion{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nombreyapellido{
        display: flex;
        justify-content:center;
        align-items: center;
        flex-direction: column;
        color: #0d6efd;
    }
}
@media (max-width: 575px){
    #fotodeperfil{
        position: relative;
         width: 40%; 
         border-radius: 100%;
         box-shadow: 5px 5px 5px grey;
         left: 3%;
         top: -40px;
    }
    .botoneditar{
        padding: 45px;
        
    }

}

div{
    background-color:rgb(170, 208, 247);
    /*background-color: rgb(198, 213, 228);*/
    text-align: center;

}
.row{
    padding: 20px;
   
}

#nombre{
    font-weight: bold;
}