<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"> </div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Instituto León XIII</h2> - <h3>(years)</h3>
            </li>
            <p>Docente de informática nivel secundario y soporte técnico </p>
        </ul>
        <ul>
            <li>
                <h2>Instituto León XIII</h2> - <h3>(years)</h3>
            </li>
            <p>Docente en programación nivel secundario </p>
        </ul>
    </div>
</div>
