<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="container">
        <h2>Gestión de actividades de pileta</h2>
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            
            <p>El proyecto trata sobre la gestión de actividades de pileta de un club social y deportivo La Tablada. Tiene funcionalidades referidas a la inscripción y administración de cupos a cuatro tipos de actividades de pileta de natación. El desarrollo está hecho en Visual.Net instalado localmente en estaciones de trabajo y los datos son almacenados y gestionados en un servidor MySql en forma de nube privada mediante un hosting.  </p>
        </div>
        
    
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/piletadefensores.png" class="img-fluid img-proyecto" alt="">
        </div>
    </div>
</div>
